In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [5]:
from sklearn.datasets import load_iris

In [6]:
iris = load_iris()

In [7]:
df = pd.DataFrame(iris.data,columns = iris.feature_names)

In [8]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [9]:
df['target'] = iris.target

In [10]:
df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0

In [11]:
df['target_names'] = df.target.apply(lambda x : iris.target_names[x])

In [12]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [13]:
from sklearn.model_selection import cross_val_score

In [16]:
import warnings 
warnings.filterwarnings('ignore')

In [21]:
lr = cross_val_score(LogisticRegression(),iris.data,iris.target,cv=3)

In [27]:
svc = cross_val_score(SVC(gamma='auto'),iris.data,iris.target,cv=3)

In [29]:
rfc = cross_val_score(RandomForestClassifier(n_estimators = 90),iris.data,iris.target,cv=3)

In [24]:
np.average(lr)

0.9733333333333333

In [28]:
np.average(svc)

0.9733333333333333

In [30]:
np.average(rfc)

0.9666666666666667